.filter-button {
    background-color: #1D6280;
}

.filter-button:hover {
    background-color: #0a3548;
}

.search-box {
    background-color: rgb(229, 229, 229);
    padding: 15px 18px 0px 19px
}

.small-hint {
    font-size: 1rem;
}

.note-image {
    width: 100%;
}