<div class="app-timeline">
  <div class="app-timeline__item">

    <div class="app-timeline__header">
      <h3 class="app-timeline__title">TRN received</h3>
      
        <p class="app-timeline__byline">
          Provider, 
          <time datetime="2021-11-13T01:14:27.100Z">13 November 2021 at 1:14am
          </time>
        </p>

      
    </div>

    <div class="app-timeline__description">
      

      
    </div>

  </div>
  
  <div class="app-timeline__item">

    <div class="app-timeline__header">
      <h3 class="app-timeline__title">Trainee submitted for TRN</h3>
      
        <p class="app-timeline__byline">
          Provider, 
          <time datetime="2021-11-13T01:14:27.100Z">13 November 2021 at 1:14am
          </time>
        </p>

      
    </div>

    <div class="app-timeline__description">
      

      
    </div>

  </div>
  
  <div class="app-timeline__item">

    <div class="app-timeline__header">
      <h3 class="app-timeline__title">Record imported from Apply</h3>
      
        <p class="app-timeline__byline">
          Provider, 
          <time datetime="2021-11-13T01:14:27.100Z">13 November 2021 at 1:14am
          </time>
        </p>

      
    </div>

    <div class="app-timeline__description">
      

      
    </div>

  </div>
  </div>